<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Go Web Programming</title>
  </head>
  <body>
    <ul>
      <h2>{{ . | getTitle }}</h2>
      <div
        style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333"
      >
        <p>{{ . | getDetails }}</p>
      </div>

      <input
        type="button"
        onclick="location.href='/edit/{{ . | getId}}'"
        value="Edit"
      />

      <form
        action="/delete/{{ . | getId }}"
        method="post"
        enctype="application/x-www-form-urlencoded"
      >
        <button type="delete" id="xbutton">Delete</button>
      </form>
    </ul>
  </body>
</html>
